---
import { AVAILABLE_LANGUAGES, CHAR_PEN } from "../consts";
import { getPathParts } from "../utils/paths";

const [currentLang, ...restOfPathname] = getPathParts(Astro.url.pathname);
const pagePath = restOfPathname.join("/");

const selectedLanguageDetails = AVAILABLE_LANGUAGES.find(
    (el) => el.code === currentLang,
) || { flag: CHAR_PEN, name: "Default" };
---

<button class="language-switcher" popovertarget="language-switcher-element">
    <span class="icon" aria-hidden="true">
        {selectedLanguageDetails.flag}
    </span>
    <span class="option-label">{selectedLanguageDetails.name}</span>
</button>
<div id="language-switcher-element" popover>
    <div class="language-list">
        {
            AVAILABLE_LANGUAGES.map((lang) => (
                <a
                    href={`${Astro.url.origin}/${lang.code}/${pagePath}`}
                    class:list={[
                        lang.code === currentLang ? "active" : "",
                        "language-list__item",
                    ]}
                >
                    <span class="option-icon" aria-hidden="true">
                        {lang.flag}
                    </span>
                    <span class="option-label">{lang.name}</span>
                </a>
            ))
        }
    </div>
</div>

<style>
    .active {
        background-color: var(--accent);
        color: var(--main-text);
        border-radius: 0.3rem;
    }

    .language-list {
        display: flex;
        flex-direction: column;
        background-color: var(--main-background);
    }

    .language-list__item {
        text-decoration: none;
        padding: 0.1rem 0.3rem;
    }

    .language-switcher {
        padding: 0.75rem 1rem;
        border-radius: 3rem;
        border: 2px solid var(--main-text);
        background-color: var(--main-background);
        color: var(--main-text);
    }

    .language-switcher::after {
        content: "↓";
    }

    :popover-open {
        position: absolute;
        inset: unset;
        top: 2rem;
        right: 2rem;
        margin: 0;
        background-color: var(--main-background);
        border: 2px solid var(--main-text);
        border-radius: 0.5rem;
    }
</style>
