---
import { AVAILABLE_LANGUAGES } from "../consts";
import { getLang } from "../utils/paths";

const [currentLang, ...restOfPathname] = getLang(Astro.url.pathname);
const pagePath = restOfPathname.join("/");
console.log("Lang", currentLang, "pagePath", pagePath);
---

<div class="custom-select-element">
    {
        AVAILABLE_LANGUAGES.map((lang) => (
            <a
                href={`${Astro.url.origin}/${lang.code}/${pagePath}`}
                class={lang.code === currentLang ? "active" : ""}
            >
                <span class="icon" aria-hidden="true">
                    {lang.flag}
                </span>
                <span class="option-label">{lang.name}</span>
            </a>
        ))
    }
</div>

<style>
    .active {
        background-color: var(--accent);
        color: var(--main-text);
    }
</style>
