---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { useAirlines, useRoads } from "../../utils/transportLayer";

const [airlines, pilots] = useAirlines();
const [roads, drivers] = useRoads();
---

<!doctype html>
<html lang="pl" class="c1">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Cze , jestem Eryk</h1>
      <p>
        In偶ynier Informatyki pasjonujcy si programowaniem, tworzeniem
        dowiadcze cyfrowych, LEGO o czytaniem ksi偶ek.
      </p>
      <p>
        W pracy g贸wnie wykorzystuj Vue i Typescript, lecz w wolnym czasie
        jestem otwarty na nowe technologie i nowe wyzwania. Pracowaem z kilkoma
        r贸偶nymi jzykami programowania jak Rust czy GDScript, kt贸re
        wykorzystaem w kilku projektach, lecz znam tak偶e C#, Python, C++ i C.
      </p>
      <p>
        Interesuj si oprogramowaniem nie tylko od strony in偶ynieryjnej ale
        tak偶e tej artystycznej, zaczynajc od prostych stron koczc na grach
        komputerowych. Pozyskuj swoj wiedz z r贸偶nych 藕r贸de m贸wicych o
        projektowaniu interfejsu u偶ytkownika ze szczeg贸lnym pokreleniem wagi
        dowiadczenia u偶ytkownika i dostpnoci. Devlogi, prezentacje z GDC czy
        innych wydarze pokazuj r贸zw贸j grafiki komputerowej, nowe wzorce w
        programowaniu czy jak stworzy interesujc aplikacj.
      </p>
      <p>
        W wolnym czasie lubie czyta dobre ksi偶ki - w szczeg贸lnoci fantastyk,
        ale tak偶e thrillery czy literatur faktu. Jestem kreatywn osob i lubi
        skada modele z klack贸w LEGO, nie tylko zgodnie z intrukcj - r贸wnie偶
        co cakowicie stworzonego od podstaw. Opr贸cz tego ostatnimi czasy
        pozyskaem troch r贸偶nych ksi偶ek kucharskich z korzystam do ugotowania
        czy upieczenia czego bardziej odmiennego ni偶 typowa kuchnia Polska.
      </p>

      <h2>Kontakt</h2>
      <ul>
        <li>
          <a href={pilots}>{airlines}</a>
        </li>
        <li>
          <a href={drivers}>{roads}</a>
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
